@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Delicious+Handrawn&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.pattern {
  z-index: -10;
  inset: 0;
  
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
}

.loader {
  width: 50px;
  aspect-ratio: 1.154;
  display: grid;
  color: #000;
  background:
    linear-gradient(to bottom left ,#0000 calc(50% - 1px),currentColor 0 calc(50% + 1px),#0000 0) right/50% 100%,
    linear-gradient(to bottom right,#0000 calc(50% - 1px),currentColor 0 calc(50% + 1px),#0000 0) left /50% 100%,
    linear-gradient(currentColor 0 0) bottom/100% 2px;
  background-repeat: no-repeat;
  transform-origin: 50% 66%;
  animation: l5 4s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  transform-origin: inherit;
  animation: inherit;
}
.loader::after {
  animation-duration: 2s;
}
@keyframes l5{
  100% {transform:rotate(1turn)}
}

.animate-glitch {
  animation: glitch infinite 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate-glitch-alt {
  animation: glitch-alt 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  10% {
    transform: translate(-2px, 2px);
    opacity: 0.8;
  }
  20% {
    transform: translate(1px, -2px);
    opacity: 0.6;
  }
  30% {
    transform: translate(-2px, 2px);
    opacity: 0.9;
  }
  40% {
    transform: translate(2px, 2px);
    opacity: 0.7;
  }
  50% {
    transform: translate(-1px, -2px);
    opacity: 0.5;
  }
  60% {
    transform: translate(1px, 3px);
    opacity: 0.8;
  }
  70% {
    transform: translate(-3px, -1px);
    opacity: 0.6;
  }
  80% {
    transform: translate(2px, 2px);
    opacity: 0.9;
  }
  90% {
    transform: translate(-2px, -2px);
    opacity: 0.4;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes glitch-alt {
  0% { transform: translate(0); }
  25% { transform: translate(2px, 2px); }
  50% { transform: translate(-2px, -2px); }
  75% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

